@page "/admin/movie/add"

@namespace MpStream.Pages.Admins

<EditForm Model="MovieEntity" OnValidSubmit="SaveMovie">
    <DataAnnotationsValidator />
    <div class="px-6 py-8">
        <a href="/admin/movie" class="w-1/12 border border-gray-500 bg-gray-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-600 focus:outline-none focus:shadow-outline flex">
            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path></svg>
            <div>กลับ</div>
        </a>
        <div class="flex justify-between container mx-auto mt-5">
            <div class="w-full lg:w-8/12">
                <div class="bg-white shadow-lg p-5">
                    <div class="flex">
                        <div class="mb-5 w-8/12 mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">ชื่ออังกฤษ</label>
                            <InputText @bind-Value="MovieEntity.Title" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        </div>
                        <div class="mb-5 w-4/12">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">ชื่อไทย</label>
                            <InputText @bind-Value="MovieEntity.TitleTH" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 h-32">เรื่องย่อ</label>
                        <InputTextArea @bind-Value="MovieEntity.Description" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200 h-72"></InputTextArea>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวเล่นที่หนึ่ง</label>
                        <InputText @bind-Value="MovieEntity.PlayerOne" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวเล่นที่สอง</label>
                        <InputText @bind-Value="MovieEntity.PlayerTwo" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวเล่นที่สาม</label>
                        <InputText @bind-Value="MovieEntity.PlayerThree" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวเล่นที่สี่</label>
                        <InputText @bind-Value="MovieEntity.PlayerFour" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">เสียง</label>
                        <InputSelect @bind-Value="MovieEntity.Sound" class="focus:ring-1 focus:ring-blue-600 form-select w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200">
                            @foreach (var eachChoice in Enum.GetValues(typeof(SoundChoices)))
                            {
                                <option value="@eachChoice">@eachChoice</option>
                            }

                        </InputSelect>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-full mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">คะแนน</label>
                            <InputNumber @bind-Value="MovieEntity.Score" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                        <div class="mb-5 w-full mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">จำนวนโหวต</label>
                            <InputNumber @bind-Value="MovieEntity.Vote_count" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                        <div class="mb-5 w-full">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">ปีที่ฉาย</label>
                            <InputNumber @bind-Value="MovieEntity.ReleaseYear" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวอย่างหนัง</label>
                        <InputText @bind-Value="MovieEntity.TrailerId" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="flex text-gray-400 text-xs pt-1">
                            <svg class="pr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>

                            <p>ใส่ไอดี Youtube ตัวอย่าง youtube.com/watch?v=<div class="font-semibold">kOCkne-Bku</div>.</p>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ป้าย</label>
                        <InputText @bind-Value="MovieEntity.Tag" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="flex text-gray-400 text-xs pt-1">
                            <svg class="pr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>

                            <p>คีย์เวิร์ดตามด้วย , เป็นต้น</p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <ValidationSummary />
                        <button type="submit" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline flex" value="Save">
                            @if (MoveSaveSpinner)
                            {
                                <div class="animate-spin" style="border-width: 0.3em; border-style: solid; border-color: rgb(52, 152, 219) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 1.5em; height: 1.5em; display: inline-block;"></div>
                            }
                            else
                            {
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                            }
                            <div class="ml-1 pr-2">บันทึก</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="-mx-8 w-4/12 hidden lg:block">
                <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Poster Image</div>
                <div class="bg-white shadow-lg rounded">
                    <div class="mb-5 text-center">
                        <div class="mx-auto w-6/12 h-72 mb-2 border relative bg-gray-100 mb-4 shadow-inset">
                            @if (ImageUrl != null)
                            {
                                <img id="image" class="object-cover w-full h-72" src="@ImageUrl" />
                            }
                            else if (PreviewImage != null && ImageUrl == null)
                            {
                                <img id="image" class="object-cover w-full h-72" src="https://image.tmdb.org/t/p/original/@PreviewImage" />
                            }
                            else
                            {
                                <img id="image" class="object-cover rounded pt-4 w-full h-72" src="https://www.policebodysize.com/assets/image/catalog/no-image.svg" />
                            }
                        </div>

                        <label for="fileInput"
                               type="button"
                               class="mt-16 cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                <circle cx="12" cy="13" r="3" />
                            </svg>
                            Browse Poster
                        </label>

                        <div class="pb-4 mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add movie poster</div>
                        <InputFile id="fileInput" class="hidden" OnChange="UploadImageOnchange" />
                    </div>
                    @if (SelectedImage != null)
                    {
                        <p>@SelectedImage.ContentType</p>
                        <p>@SelectedImage.Name</p>
                    }

                </div>
                <div class="bg-white shadow-lg mt-5 rounded">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Category</div>
                    <div class="mr-3 ml-3 pl-3 pr-3 pt-2 bg-gray-100 overflow-auto h-40">
                        @foreach (var genre in this.MovieGenres)
                        {
                            <input class="form-checkbox mr-2" type="checkbox" @onchange="eventArgs => {CheckboxClicked(genre.Id.ToString(), eventArgs.Value); }" /> @genre.Name<br />
                        }
                    </div>
                </div>
                @foreach (var item in SelectedGenreIds)
                {
                    <p>@item</p>
                }
                <div class="mt-5 bg-white shadow-lg">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">IMDB Id</div>
                    <div class="p-4">
                        @if (this.showStatusMessageApiRequest != "")
                        {
                            if (showStatusMessageApiRequest != "เรียกข่้อมูลสำเร็จ")
                            {
                                <div class="text-sm text-red-700 pl-2 pt-2">@showStatusMessageApiRequest</div>
                            }
                            else
                            {
                                <div class="text-sm text-green-700 pl-2 pt-2">@showStatusMessageApiRequest</div>
                            }

                        }
                        <InputText @bind-Value="this.ImdbId" class="focus:ring-1 focus:ring-blue-600 w-full px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="mt-3"></div>
                        <div @onclick="() => FetchImdbApi(this.ImdbId)" class="border border-green-500 bg-green-500 text-white rounded-sm px-4 py-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
                            <div class="flex">

                                @if (ApiLoadSpiner)
                                {
                                    <div class="animate-spin" style="border-width: 0.3em; border-style: solid; border-color: rgb(52, 152, 219) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 1.5em; height: 1.5em; display: inline-block;"></div>
                                }
                                else
                                {
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"></path></svg>
                                }
                                <div class="ml-2">ดึงข้อมูล</div>
                            </div>
                        </div>
                        <div class="flex text-gray-400 text-xs pt-1">
                            <svg class="pr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                            <p>กรุณาใส่ไอดีจากเว็บ Tmdb</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>


