@page "/admin/tvshow/add"


<EditForm Model="TvShowEntity" OnValidSubmit="SaveShow">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if(OperationMessage != null)
    {
        <p>@OperationMessage</p>
    }
    <div class="px-6 py-8">
        <a href="/admin/movie" class="w-1/12 border border-gray-500 bg-gray-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-600 focus:outline-none focus:shadow-outline flex">
            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path></svg>
            <div>กลับ</div>
        </a>
        <div class="flex justify-between container mx-auto mt-5">
            <div class="w-full lg:w-8/12">
                <div class="bg-white shadow-lg p-5">
                    <div class="flex">
                        <div class="mb-5 w-8/12 mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">ชื่ออังกฤษ</label>
                            <InputText @bind-Value="TvShowEntity.Title" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        </div>
                        <div class="mb-5 w-4/12">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">ชื่อไทย</label>
                            <InputText @bind-Value="TvShowEntity.Title" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 h-32">เรื่องย่อ</label>
                        <InputTextArea @bind-Value="TvShowEntity.Description" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200 h-96"></InputTextArea>
                    </div>
                    <div class="flex">
                        <div class="mb-5 w-4/12 mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">จำนวนซีซั่น</label>
                            <InputNumber @bind-Value="TvShowEntity.NumberOfSeason" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                        <div class="mb-5 w-4/12 mr-2">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">จำนวนตอน</label>
                            <InputNumber @bind-Value="TvShowEntity.NumberOfEpisode" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                        <div class="mb-5 w-4/12">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 block">วันฉาย</label>
                            <InputDate @bind-Value="TvShowEntity.FirstAirDate" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputDate>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">เสียง</label>
                        <InputSelect @bind-Value="TvShowEntity.Sound" class="focus:ring-1 focus:ring-blue-600 form-select w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200">
                            @foreach (var eachChoice in soundChoices)
                            {
                                <option value="@eachChoice">@eachChoice</option>
                            }

                        </InputSelect>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">สถานะ</label>
                        <InputText @bind-Value="TvShowEntity.Status" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ตัวอย่างหนัง</label>
                        <InputText @bind-Value="TvShowEntity.Trailer" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="flex text-gray-400 text-xs pt-1">
                            <svg class="pr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>

                            <p>ใส่ไอดี Youtube ตัวอย่าง youtube.com/watch?v=<div class="font-semibold">kOCkne-Bku</div>.</p>
                        </div>
                    </div>
                    <div class="bg-gray-50 shadow m-3">
                        <div class="p-3">
                            <div @onclick="AddSeason" class="flex bg-pink-400 rounded-sm px-2 py-1 m-2 transition duration-500 ease select-none hover:bg-pink-500 focus:outline-none focus:shadow-outline">
                                <div class="p-1">
                                    <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                                    </svg>
                                </div>
                                <div class="text-white p-2">
                                    Add Season
                                </div>
                            </div>
                            @if (SeasonList != null)
                            {
                                @foreach (var eachSeason in SeasonList)
                                {
                                    <div class="m-1 bg-indigo-100 flex rounded shadow">
                                        <div class="w-10/12 p-3 pt-4 flex">
                                            <div class="mr-1">
                                                <svg class="h-8 w-8 text-red-500"  viewBox="0 0 20 20" fill="currentColor">  <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/></svg>
                                            </div>
                                            <div class="p-1 bg-white text-gray-700 rounded-sm">
                                                Season @eachSeason.Name @*Id: @eachSeason.Name*@
                                            </div>
                                        </div>

                                        <div class="w-1/12 p-3 pl-8">
                                            <div @onclick="() => AddEpisode(eachSeason.Name)" class="w-8 bg-green-500 text-white rounded-md transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
                                                <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="w-1/12 p-3">
                                            <div @onclick="() => RemoveSeason(eachSeason.Name)" class="w-8 bg-red-500 text-white rounded-md transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline">
                                                <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (var eachEpisode in EpisodeList)
                                    {
                                        if (eachEpisode.SeasonNumber == eachSeason.Name)
                                        {
                                            <div class="w-11/12 m-1 bg-indigo-50 ml-14 rounded shadow mb-3">
                                                <div class="p-3 lg:flex">
                                                    <div class="w-8/12 mr-2"><InputText @bind-Value="eachEpisode.Name" class="focus:ring-1 focus:ring-blue-600 px-2 py-1 w-full rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 border border-solid border-gray-200" placeholder="เลขที่ตอนและชื่อตอน"></InputText></div>
                                                    <div class="w-3/12 mr-2"><InputText @bind-Value="eachEpisode.Language" class="focus:ring-1 focus:ring-blue-600 px-2 py-1 w-full rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 border border-solid border-gray-200" placeholder="ภาษา"></InputText></div>
                                                    <div class="w-1/12 mr-2">
                                                        <div @onclick="() => RemoveEpisode(eachSeason.Name, eachEpisode.SeasonNumber)" class="ml-7 w-8 bg-red-500 text-white rounded-md transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline">
                                                            <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-3">
                                                    <div class="w-12/12"> <InputText @bind-Value="eachEpisode.EmbedLink" class="focus:ring-1 focus:ring-blue-600 w-full px-2 py-1 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-sm border border-solid border-gray-200" placeholder="ลิงค์ตัวเล่น"></InputText></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline" value="Save">Save</button>
                    </div>
                </div>
            </div>

            <div class="-mx-8 w-4/12 hidden lg:block">
                <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Poster Image</div>
                <div class="bg-white shadow-lg rounded">
                    <div class="mb-5 text-center">
                        <div class="mx-auto w-full h-32 mb-2 border relative bg-gray-100 mb-4 shadow-inset">
                            @if (PreviewImage != null)
                            {
                                <img id="image" class="object-cover object-top w-full h-48" src="https://image.tmdb.org/t/p/original/@PreviewImage" />
                            }
                            else
                            {
                                <img id="image" class="object-cover w-full h-48" src="https://www.policebodysize.com/assets/image/catalog/no-image.svg" />
                            }
                        </div>

                        <label for="fileInput"
                               type="button"
                               class="mt-16 cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                <circle cx="12" cy="13" r="3" />
                            </svg>
                            Browse Poster
                        </label>

                        <div class="pb-4 mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add movie poster</div>
                        <InputFile id="fileInput" class="hidden" OnChange="HandleFileSelected"></InputFile>
                    </div>
                </div>
                <div class="bg-white shadow-lg mt-5 rounded">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Category</div>
                    <div class="mr-3 ml-3 pl-3 pr-3 bg-gray-100 overflow-auto h-32">
                        @foreach (var genre in this.TvShowGenreList)
                        {
                            if (SelectedGenreIds.Contains(genre.Id.ToString()))
                            {
                                <input class="form-checkbox mr-2" type="checkbox" checked="checked" @onchange="eventArgs => {CheckboxClicked(genre.Id.ToString(), eventArgs.Value); }" /> @genre.Name<br />
                            }
                            else
                            {
                                <input class="form-checkbox mr-2" type="checkbox" @onchange="eventArgs => {CheckboxClicked(genre.Id.ToString(), eventArgs.Value); }" /> @genre.Name<br />
                            }
                        }
                    </div>
                </div>
                <div class="bg-white shadow-lg mt-5 rounded">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Series Score</div>
                    <div class="mr-3 ml-3 pl-3 pr-3 bg-gray-100 overflow-auto">
                        <div class="mb-5">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 h-32">คะแนน</label>
                            <InputNumber @bind-Value="TvShowEntity.Score" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                        <div class="mb-5">
                            <label for="firstname" class="font-bold mb-1 text-gray-700 h-32">จำนวนโหวต</label>
                            <InputNumber @bind-Value="TvShowEntity.VoteCount" class="focus:ring-1 focus:ring-blue-600 w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputNumber>
                        </div>
                    </div>
                </div>
                <div class="mt-5 bg-white shadow-lg">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">IMDB Id</div>
                    @if (this.showStatusMessageApiRequest != "")
                    {
                        if (showStatusMessageApiRequest != "เรียกข่้อมูลสำเร็จ")
                        {
                            <div class="text-sm text-red-700 pl-2 pt-2">@showStatusMessageApiRequest</div>
                        }
                        else {
                            <div class="text-sm text-green-700 pl-2 pt-2">@showStatusMessageApiRequest</div>
                        }

                    }
                    <div class="p-4">
                        <InputText @bind-Value="this.ImdbId" class="focus:ring-1 focus:ring-blue-600 w-full px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="mt-3"></div>
                        <div @onclick="() => FetchImdbApi(this.ImdbId)" class="border border-green-500 bg-green-500 text-white rounded-sm px-4 py-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
                            <div class="flex">
                                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"></path></svg>
                                <div>Fatch Data</div>
                            </div>
                        </div>
                        <div class="flex text-gray-400 text-xs pt-1">
                            <svg class="pr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                            <p>กรุณาใส่ไอดีจากเว็บ Tmdb</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</EditForm>


