@page "/movie/view/{MovieId:int}"
@namespace MpStream.Pages.Members

@if (ShowDialog)
{
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

            <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
                <span class="text-sm">(Esc)</span>
            </div>

            <!-- Add margin if you want to see some of the overlay behind the modal-->
            <div class="modal-content py-4 text-left px-6">
                <!--Title-->
                <div class="flex justify-between items-center pb-3">
                    <p class="text-2xl font-bold">Simple Modal!</p>
                    <div class="modal-close cursor-pointer z-50">
                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </div>
                </div>

                <!--Body-->
                <p>Modal content can go here</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>

                <!--Footer-->
                <div class="flex justify-end pt-2">
                    <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Action</button>
                    <button @onclick="CloseDialog" class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
                </div>

            </div>
        </div>
    </div>
}


<div class="w-full bg-gray-700">
    <div class="w-10/12">
        <div class="flex p-20">
            <div class="w-4/12">
                <img class="shadow-lg rounded w-10/12 ml-12" src="@MovieEntity.PosterImage" />
            </div>
            <div class="w-8/12 text-gray-300 pl-14">
                <div class="mt-20"></div>
                <div class="flex mt-4">
                    <h1 class="text-2xl font-semibold break-all">@MovieEntity.Title</h1>
                    <div class="text-2xl ml-2 font-thin">(@MovieEntity.ReleaseYear)</div>
                </div>
                <div class="flex mt-4">
                    <div class="border px-2 rounded-sm mr-2">R</div>
                    @foreach (var eachGenre in MovieEntity.MovieWithGenres)
                    {
                        <a href="/movie/category/@eachGenre.MovieGenreEntity.Name"><div class="mr-3">@eachGenre.MovieGenreEntity.Name</div></a>
                    }
                    <div class="flex">
                        <div class=""><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></div>
                        <button @onclick="ShowUpDialog" class="">ตัวอย่าง</button>
                    </div>
                </div>
                <h2 class="text-xl font-bold mt-4">เรื่องย่อ</h2>
                <p class="pl-2 pt-1">@MovieEntity.Description</p>
            </div>
        </div>
    </div>
</div>
<div class="w-full bg-gray-600 h-96">
    <div class="w-12/12">
        <div class="m-auto w-8/12">
            <iframe class="h-96 w-full" src="https://www.youtube.com/embed/@MovieEntity.TrailerId"></iframe>
        </div>
    </div>
</div>
<div class="w-full bg-white">
    <div class="h-50"></div>
</div>