@page "/movies/bookmarks"

@namespace MpStream.Pages.Member.Movies
 

<div class="w-12/12 mx-auto mt-10">
    <h3 class="text-white">อัพเดทใหม่</h3>
    <div class="flex flex-wrap">
        @foreach (var movie in Movies)
        {
        <div class="w-full md:w-1/3 lg:w-1/6 p-2 relative">
            <a @onmouseover="() => MouseOver(movie.Id)" href="/movie/view/@movie.Id" class="flex flex-col relative w-full border border-movieBorderColor card translate-3d-none-after rounded w-full overflow-hidden translate-3d-none-after">
                <img class="object-fill h-72 md:76 duration-700 hover:scale-110 transform" src="@movie.PosterImage" />
                <div class="transition duration-500 z-10 ease-in-out absolute top-0 left-0 mt-5 ml-2 rounded-lg bg-yellow-900 p-1 px-2">
                    <div class="text-sm font-semibold text-yellow-100">
                        @movie.Score.ToString().TrimEnd('0')
                    </div>
                </div>
                <div class="transition duration-500 z-10 ease-in-out absolute top-0 right-0 mt-5 mr-1 ml-2 rounded bg-movieTitleBar opacity-60 p-1">
                    <div class="text-xs text-white">
                        @movie.Sound
                    </div>
                </div>
                <div class="relative bottom-0 w-full bg-movieTitleBar text-white font-thin h-14 p-2 hover:text-yellow-700 transtion duration-500 ease-in-out">
                    <div class="text-sm font-medium">@movie.Title</div>
                    <div class="text-sm font-medium">@movie.TitleTH</div>
                </div>
            </a>
        </div>
    }
    </div>
</div>



